:root {
  --color-background: #050816;
  --color-surface: #0d1117;
  --color-card: #111827;

  --color-primary: #2563eb;
  --color-primary-hover: #3b82f6;

  --color-text: #ffffff;
  --color-muted: #94a3b8;

  --font-body: "Inter", sans-serif;
}